/** Colors **/
:root {
  --color-primary: #31230c; /* Dark brown for main text */
  --color-secondary: #7c7569; /* Muted grayish-brown for secondary elements */
  --color-bg-light-1: rgb(250, 240, 240); /* Light pink/beige for gradient */
  --color-bg-light-2: rgb(250, 244, 240); /* Light beige for gradient middle */
}

/** Font Definitions **/

@font-face {
  font-family: Bitter;
  src: url("./fonts/Bitter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bitter;
  src: url("./fonts/Bitter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Inter Tight;
  src: url("./fonts/InterTight-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter Tight;
  src: url("./fonts/InterTight-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/** Baseline styles */

@page {
  size: letter;
  margin: 0.3in 0.5in;
  background: linear-gradient(
    to bottom,
    var(--color-bg-light-1) 0%,
    var(--color-bg-light-2) 50%,
    var(--color-bg-light-1) 100%
  );
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Bitter", Bitter, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

body {
  padding: 0.5em;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin-bottom: 0em;
  margin-top: 0;
  font-family: Inter Tight;
  font-weight: 600;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--color-secondary);
  color: var(--color-primary);
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

/** Items, headers and bullet points */

h2 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.2em;
  white-space: nowrap;
}

h2 + p:first-of-type {
  display: inline-block;
  color: var(--color-secondary);
  margin-left: 0.8em;
  margin-top: 0;
  margin-bottom: 0em;
  overflow: visible;
  white-space: nowrap;
}

ul {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0em;
  padding-left: 2em;
  list-style: none;
}

li {
  padding-left: 0em;
  margin-bottom: 0.2em;
  margin-left: 0em;
  position: relative;
}

li::before {
  position: absolute;
  display: inline-block;
  left: -1.3em;
  content: "▪︎";
  color: var(--color-secondary);
}

/** Left columns and section margins */

section.level1 h1 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.3em;
  float: left;
  color: var(--color-secondary);
}

section.level1 .level2,
section.level1 > p {
  margin-left: 8rem;
}

section.level1 {
  margin-bottom: 1em;
}

section.level2 {
  margin-bottom: 1em;
}

/** Title section */

#chong-han-chua {
  margin-bottom: 1.5em;
}

#chong-han-chua h1 {
  color: var(--color-primary);
  float: none;
  margin-bottom: 0.5em;
  font-size: 150%;
  display: block;
  margin-left: 0;
  font-weight: 700;
}

#chong-han-chua ul {
  list-style: none;
  padding: 0;
}

#chong-han-chua ul li {
  padding: 0;
  display: inline-block;
  margin-right: 1rem;
}

#chong-han-chua ul li:before {
  content: none;
}

/* Footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  color: var(--color-secondary);
}

footer a {
  color: var(--color-secondary);
}
